@media (max-width: 480px) {
    header {
        height: 380px;
        .header-menu {
            height: 95px;
            .container-top {
                width: 400px;
                height: 95px;
                padding: 0 5px 0;
                .logo {
                    width: 320px;
                    img {
                        width: 60px;
                        height: 52px;
                    }
                    h1 {
                        font-size: 24px;
                    }
                }
                .contact {
                    width: 80px;
                    justify-content: flex-end;
                    .location {
                        display: none;
                    }
                    .phone {
                        width: 70px;
                        a#phone {
                            display: none;
                        }
                        #menu {
                            display: block;
                        }
                    }
                }
            }
            hr {
                display: none;
            }
            .menu {
                display: none;
            }
        }
        .header-rec {
            height: 295px;
            background: url(../images/header-bkg-mobail.png);
            .container {
                width: 400px;
                height: 295px;
                .rec-form-blur {
                    width: 260px;
                    height: 270px;
                    margin-top: 10px;
                    margin-right: 10px;
                }
                .rec-form-no-blur {
                    width: 260px;
                    height: 270px;
                    margin-top: 10px;
                    padding: 20px;
                    margin-right: 10px;
                    h2 {
                        font-size: 16px;
                        font-weight: 500;
                        font-style: normal;
                        border-left: none;
                        padding-left: 0;
                        box-sizing: border-box;
                        span {
                            font-weight: 600;
                        }
                    }
                    .description {
                        width: 200px;
                        margin-top: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        padding: 0;
                        box-sizing: border-box;
                        div {
                            display: flex;
                            align-items: center;
                        }
                        p {
                            font-size: 14px;
                            font-weight: 600;
                            font-family: $montserrat;
                        }
                        img {
                            display: block;
                        }
                    }
                    input[type='button'] {
                        height: 65px;
                        margin-top: 30px;
                    }
                }
            }
            .container-mobil {
                display: none;
            }
        }
    }
}