@media (max-width: 1024px) {
    header {
        width: 100vw;
        height: 750px;
        .header-menu {
            width: inherit;
            height: 150px;
            background: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            .container-top {
                width: 950px;
                height: 95px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .contact {
                    justify-content: flex-end;
                    .location {
                        display: none;   
                    }
                    #menu {
                        display: none;
                    }
                }
            }
            .menu {
                width: 950px;
                padding: 0 20px 0;
            }
        }
        .header-rec {
            background: url(../images/header-bkg-3.jpg);
            .container {
                width: 950px;
                .rec-form-blur {
                    width: 560px;
                    height: 370px;
                }
                .rec-form-no-blur {
                    width: 560px;
                    height: 370px;
                    padding: 45px;

                    
                }
            }
            .container-mobil {
                display: none;
            }
        }
    }
}