$main-color: #127BD7;
$montserrat: 'Montserrat', sans-serif;
$fira-sans: 'Fira Sans', sans-serif;
$roboto: 'Roboto', sans-serif;

* {
    padding: 0;
    margin: 0;
}
.overflow {
    overflow-y: hidden;
}
body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    flex-direction: column;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@import 'z-other/scrollbar';
// header
@import 'a-header/header';
// aboutus
@import 'b-about_us/aboutus';
// whywe
@import 'c-why-we/why-we';
// services
@import 'd-services/services';
// stock
@import 'f-stock/stock';
// trust
@import 'g-trust/trust';
// doctors
@import 'h-doctors/doctors';
// reviews
@import 'i-reviews/reviews';
// rating
@import 'j-rating/rating';
// portfolio
@import 'k-portfolio/portfolio';
// photogallery
@import 'l-photogallery/photogallery';
// photogallery
@import 'm-consultation/consultation';


// header
@import 'a-header/header-1024';
@import 'a-header/header-768';
@import 'a-header/header-480';
@import 'a-header/header-375';
@import 'a-header/header-320';
// aboutus
@import 'b-about_us/aboutus-1024';
@import 'b-about_us/aboutus-768';
@import 'b-about_us/aboutus-480';
@import 'b-about_us/aboutus-375';
// whywe



// modal
@import 'z-modal/modal';
// slider
@import 'z-slider/slider-stocks';
@import 'z-slider/slider-reviews';