#modal {
    width: 1010px;
    height: 560px;
    background-color: #BFDEFA;
    border-radius: 60px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 100px;
    box-sizing: border-box;
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    z-index: 100;
    .closeButton {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 32px;
        background: none;
        border: none;
        cursor: pointer;
    }
    .includes {
        width: 445px;
        height: calc(560px - 140px);
        display: flex;
        flex-direction: column;
        p {
            font-size: 30px;
            font-family: $montserrat;
            font-weight: 600;
            span {
                font-weight: 800;
            }
        }
        ul {
            margin-top: 50px;
            list-style: none;
            padding-left: 30px;
            li {
                font-size: 20px;
                font-family: $montserrat;
                font-weight: 600;
                // line-height: 2.7;
            }
            li:first-child {
                margin-top: 10px;
            }
            li:nth-child(2) {
                margin-top: 35px;
            }
            li:last-child {
                margin-top: 35px;
            }
            li img {
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
    .form {
        width: 365px;
        height: calc(560px - 140px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        form {
            display: flex;
            flex-direction: column;
        }

        .placeholder-container {
            position: relative;
        }
        .placeholder-container label {
            color: #292929;
            font-family: $montserrat;   
            font-size: 22px;
            font-weight: 500;
            pointer-events: none;
            position: absolute;
            transition: all 200ms;
            top: 12px;
            left: 0;
        }
        .placeholder-container input:focus + label,
        .placeholder-container input:not(:placeholder-shown) + label {
            top: -10px;
            left: 0;
            font-size: 14px; 
            background-color: #BFE2FF;
        }

        input {
            margin-bottom: 50px;
            font-size: 22px;
        }
        
        input[type='text'] {
            width: 340px;
            height: 40px;
            background: none;
            border: none;
            border-bottom: 2px solid #000000;
            border-radius: 0;
            outline: none;
        }
        input[type='tel'] {
            width: 340px;
            height: 40px;
            background: none;
            border: none;
            border-bottom: 2px solid #000000;
            border-radius: 0;
            outline: none;
            margin-bottom: 70px;
        }
        .input-invalid {
            width: 340px;
            height: 40px;
            background: none;
            border: none;
            border-radius: 0;
            outline: none;
            border-bottom: 2px solid #FF0606;
        }
        input:focus {
            border-bottom: 2px solid #127BD7;
        }

        input[type="button"] {
            width: 240px;
            height: 65px;
            background: $main-color;
            color: #ffffff;
            font-size: 20px;
            font-weight: 700;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: 450ms;
            margin-bottom: 5px;
        }
        input[type="button"]:hover {
            width: 255px;
        }
        input[type="button"]:active {
            width: 240px;
            background: #2879BD;
        }
        div.personaldata {
            height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            input#modal_personaldata {
                display: none;
            }
            label[for='modal_personaldata'] {
                width: 330px;
                font-weight: 400;
                font-size: 12px;
                color: #292929;
                font-family: $roboto;
                line-height: 2;
                position: relative;
                margin-left: 30px;
                cursor: pointer;
            }
            label[for='modal_personaldata']::after {
                content: '';
                width: 22px;
                height: 22px;
                border: 1px solid black;
                position: absolute;
                left: -30px;
                cursor: pointer;
            }
            input:checked + [for='modal_personaldata']::after {
                background: url(../images/checked.svg) no-repeat center/90%;
            }
        }
    }
}

#back{
    width: 90000px;
    height: 11575px;
    background: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    display: none;
}

.open {
    opacity: 0;
    animation: ani 0.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

//   transform: translateY(-150%);
//   animation: ani 1s forwards;
// }

// @keyframes ani {
//   0% {transform: translateY(-150%);}
//   100% {transform: translateY(0);}
// }

.thanks {
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        margin: 66px 0 55px;
    }
    h2, h3 {
        font-size: 62px;
        font-weight: 700;
        font-family: $montserrat;
        color: #292929;
    }
    h3 {
        font-size: 24px;
        font-weight: 600;
    }
}
