#photogallery {
    width: 100%;
    height: 515px;
    background: #DFEFFC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 36px;
        font-family: $fira-sans;
        font-weight: 700;
        color: #292929;
        opacity: .8;
        text-transform: uppercase;
        margin-top: 40px;
    }
    .photogallery-container {
        width: 1215px;
        height: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        position: relative;
        img {
            border-radius: 15px;
            margin-bottom: 10px;
            cursor: pointer;
            transition: 500ms;
        }
        img.image {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
    .img-open {
        width: 555px;
        height: 555px;
        border-radius: 50px !important;
        position: fixed;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        top: 10%;
        z-index: 100;
        cursor: default !important;
        opacity: 0;
        animation: ani 0.5s forwards;
    }
    .closeBtn {
        position: fixed;
        top: 2%;
        right: 28%;
        padding: 30px;
        font-size: 38px;
        background: none;
        border: none;
        cursor: pointer;
        color: #000000;
        z-index: 100;
        display: none;
    }
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }